*.o
optar_orig/optar
optar_orig/unoptar
.claude
.class
test/node_modules/
test/package-lock.json
test/fixtures/*
test/test_files/*
!test/test_files/gen-test-files.sh
!test/fixtures/.gitkeep
*.jar
.devcontainer